# ProjectCmdo
# @author Noah Rodenbeek

## ProjectCmdo
style.unprefixed.css
style.prefixed.css

## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log

node_modules

!app/assets/node_modules

app/assets/node_modules/angular/*
!app/assets/node_modules/angular/angular.min.js

app/assets/node_modules/angular-resource/*
!app/assets/node_modules/angular-resource/angular-resource.min.js

app/assets/node_modules/angular-ui-router/*
!app/assets/node_modules/angular-ui-router/release
app/assets/node_modules/angular-ui-router/release/*
!app/assets/node_modules/angular-ui-router/release/angular-ui-router.min.js

app/assets/node_modules/jquery/*
!app/assets/node_modules/jquery/dist
app/assets/node_modules/jquery/dist/*
!app/assets/node_modules/jquery/dist/jquery.min.js

app/assets/node_modules/lodash/*
!app/assets/node_modules/lodash/lodash.min.js

app/assets/node_modules/normalize-css/*
!app/assets/node_modules/normalize-css/normalize.css

## Sass
.sass-cache

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/