$color--top-0: #1d59ba; // Ocean
$color--top-1: #fcf9d4; // Beach
$color--top-2: #8cd633;
$color--top-3: #6faf21;
$color--top-4: #5b990f;
$color--top-5: #3b6b0b; // Peak
$colors--top: $color--top-0,
$color--top-1,
$color--top-2,
$color--top-3,
$color--top-4,
$color--top-5;