$color--top-0: #1d59ba; // Ocean
$color--top-1: #fcf9d4; // Beach
$color--top-2: #daef66;
$color--top-3: #6faf21;
$color--top-4: #3a770c;
$color--top-5: #194a0b; // Peak
$colors--top: $color--top-0,
$color--top-1,
$color--top-2,
$color--top-3,
$color--top-4,
$color--top-5;