.map {
    @include box-shadow(0, 1em, 2em, black, false);
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 320px;
}

.map--hidden {
    visibility: hidden;
}

.map-row {
    align-content: center;
    display: flex;
    justify-content: space-between;
}

@for $cell from 1 to 32 {
    //cell count maxes at 32
    $dimension: calc(100vw / #{$cell});
    .map-row--cells-#{$cell} {
        .map-row__cell {
            height: #{$dimension};
        }
    }
}

.map-row__cell {
    @include box-shadow(0, 0, 2em, rgba(black, .1), false);
    align-content: center;
    background-color: $color--top-0;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    &:hover {
        &:after {
            background-color: rgba(black, .4);
            border-radius: 50%;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 999;
        }
    }
    &:last-child {
        border-right-color: transparent;
    }
}

.map-row__cell--hidden {
    &::before {
        background-color: rgba(black, .6);
        content: '';
        display: block;
        // -webkit-filter: blur(.6em);
        // -moz-filter: blur(.6em);
        // -ms-filter: blur(.6em);
        // -o-filter: blur(.6em);
        // filter: blur(.6em);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
    }
}

@each $color in $colors--top {
    $elevation: index($colors--top, $color) - 1; // zero-index to match JS
    .map-row__cell--top-#{$elevation} {
        background-color: $color;
    }
}