.user {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.user__dot {
    @include box-shadow(0, 0, .4em, rgba(black, .4), false);
    @include square(40%);
    background-color: white;
    border-radius: 50%;
}

.user__ping {
    @include square(50%);
    animation: radar 2s infinite;
    pointer-events: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease-in-out;
}